root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,cjs,mjs,ts,tsx,jsx,json,html,css,md,txt,yml,yaml,svg,xml,csv,sql,ps1,sh,bat,cmd}]
indent_style = space
indent_size = 2
